<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbserver-dev" connectionString="Data Source= dbserver-dev;Initial Catalog=treinamento;User ID=treinamento;Password=treinamento"
      providerName="System.Data.SqlClient" />
    <add name="CadastroCliente.Properties.Settings.ConnectionString"
      connectionString="Data Source=dbserver-dev;Initial Catalog=treinamento;User ID=treinamento;Password=treinamento"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>